{
  "openapi": "3.1.0",
  "info": {
    "version": "1.0",
    "title": "Autenticação",
    "summary": "Geração de token de acesso da API Mkplace"
  },
  "servers": [
    {
      "url": "https://idp.mkplace.com.br/realms/{realm}/protocol/openid-connect",
      "description": "Keycloak (IDP)",
      "variables": {
        "realm": {
          "default": "<seu_realm>",
          "description": "Realm do Keycloak fornecido pela Mkplace. Substitua pelo realm da sua integração."
        }
      }
    }
  ],
  "paths": {
    "/token": {
      "post": {
        "tags": ["Autenticação"],
        "summary": "Gerar token",
        "operationId": "post-token",
        "x-mint": { "href": "/api-reference/auth/gerar-token" },
        "description": "Gera um token de acesso (JWT) via OAuth2 `client_credentials` no Keycloak da Mkplace. Envie o token retornado no header `Authorization: Bearer <access_token>` em todas as requisições aos serviços da Mkplace. O `realm`, o `client_id` e o `client_secret` são fornecidos pela Mkplace pelo canal de suporte; as chaves de produção são liberadas ao final da homologação.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "default": "client_credentials",
                    "description": "Fluxo OAuth2 utilizado. Use `client_credentials`."
                  },
                  "client_id": {
                    "type": "string",
                    "description": "Identificador do cliente, fornecido pela Mkplace."
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "Segredo do cliente, fornecido pela Mkplace. Mantenha-o seguro e nunca o exponha publicamente."
                  }
                },
                "required": ["grant_type", "client_id", "client_secret"]
              },
              "examples": {
                "client_credentials": {
                  "value": {
                    "grant_type": "client_credentials",
                    "client_id": "<seu_client_id>",
                    "client_secret": "<seu_client_secret>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token gerado com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "description": "Token JWT a ser enviado no header `Authorization: Bearer`."
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "Validade do token de acesso, em segundos."
                    },
                    "refresh_expires_in": {
                      "type": "integer",
                      "description": "Validade do refresh token, em segundos (0 no fluxo client_credentials)."
                    },
                    "token_type": {
                      "type": "string",
                      "description": "Tipo do token. Sempre `Bearer`."
                    },
                    "not-before-policy": {
                      "type": "integer",
                      "description": "Timestamp de política not-before do Keycloak."
                    },
                    "scope": {
                      "type": "string",
                      "description": "Escopos concedidos ao token."
                    }
                  },
                  "required": ["access_token", "expires_in", "token_type"]
                },
                "examples": {
                  "Resposta OK": {
                    "value": {
                      "access_token": "eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUI...",
                      "expires_in": 300,
                      "refresh_expires_in": 0,
                      "token_type": "Bearer",
                      "not-before-policy": 0,
                      "scope": "profile email"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string" },
                    "error_description": { "type": "string" }
                  }
                },
                "examples": {
                  "Grant type inválido": {
                    "value": {
                      "error": "unsupported_grant_type",
                      "error_description": "Unsupported grant_type"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Credenciais inválidas.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string" },
                    "error_description": { "type": "string" }
                  }
                },
                "examples": {
                  "Client secret inválido": {
                    "value": {
                      "error": "unauthorized_client",
                      "error_description": "Invalid client or Invalid client credentials"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Autenticação"
    }
  ]
}
