{
  "openapi": "3.1.0",
  "x-stoplight": {
    "id": "pcnjvyfn40wg8"
  },
  "info": {
    "version": "1.0",
    "title": "Plataforma Mkplace",
    "summary": "Serviços Mkplace"
  },
  "servers": [
    {
      "url": "https://api.main.mkplace.com.br",
      "description": "Produção"
    },
    {
      "url": "https://api.sandbox.mkplace.com.br",
      "description": "Homologação"
    }
  ],
  "paths": {
    "/store/seller/warehouse": {
      "post": {
        "tags": [
          "Warehouse"
        ],
        "summary": "Criar Warehouse",
        "description": "## Descrição\n\nEndpoint para a criação de um Warehouse.",
        "operationId": "post-store-seller-warehouse",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nome do warehouse (centro de distribuição)."
                  },
                  "sourceZipcode": {
                    "type": "string",
                    "description": "CEP de origem do warehouse — de onde as mercadorias saem."
                  },
                  "crossdockingTime": {
                    "type": "number",
                    "description": "Tempo estimado (em dias) para transferir produtos para outro warehouse."
                  },
                  "preferentialWarehouse": {
                    "type": "boolean",
                    "description": "Define se este é o warehouse padrão/preferencial do vendedor."
                  }
                },
                "required": [
                  "name",
                  "sourceZipcode",
                  "crossdockingTime"
                ],
                "x-examples": {
                  "Example 1": {
                    "name": "Warehouse Zona Sul",
                    "sourceZipcode": "11123-569",
                    "crossdockingTime": "0bd",
                    "preferentialWarehouse": true
                  }
                }
              },
              "examples": {
                "Body": {
                  "value": {
                    "name": "Warehouse Zona Sul",
                    "sourceZipcode": "11123-569",
                    "crossdockingTime": 0,
                    "preferentialWarehouse": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Name of warehouse"
                    },
                    "sourceZipcode": {
                      "type": "string",
                      "description": "Zipcode of warehouse location"
                    },
                    "crossdockingTime": {
                      "type": "number",
                      "description": "Estimated value of time to transfer products for another warehouse"
                    },
                    "_id": {
                      "type": "string",
                      "description": "Warehouse identifier"
                    }
                  },
                  "required": [
                    "name",
                    "sourceZipcode",
                    "crossdockingTime",
                    "_id"
                  ],
                  "x-examples": {
                    "Example 1": {
                      "name": "Warehouse 4",
                      "sourceZipcode": "82530-290",
                      "crossdockingTime": "0bd",
                      "_id": "jQGNY3p8mm"
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "name": "Warehouse 4",
                      "sourceZipcode": "82530-290",
                      "crossdockingTime": 0,
                      "_id": "jQGNY3p8mm"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "ValidationError",
                      "message": "Couldn't create a warehouse."
                    }
                  }
                },
                "examples": {
                  "Return if warehouse aren't created on seller": {
                    "value": {
                      "exceptionType": "ValidationError",
                      "message": "Couldn't create a warehouse."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "ForbiddenError",
                      "message": "You have not permission for this operation (shopping/seller/update)"
                    }
                  }
                },
                "examples": {
                  "Request Authorization without permission": {
                    "value": {
                      "exceptionType": "ForbiddenError",
                      "message": "You have not permission for this operation (shopping/seller/update)"
                    }
                  },
                  "Request Authorization without context": {
                    "value": {
                      "exceptionType": "ForbiddenError",
                      "message": "Contexts sellerId are required for this operation"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "FatalError",
                      "message": "Error occurred when tried to connect on database and create a seller warehouse."
                    }
                  }
                },
                "examples": {
                  "Return if any problem occur on connection during create warehouse (this error isn't influenced by input)": {
                    "value": {
                      "exceptionType": "FatalError",
                      "message": "Error occurred when tried to connect on database and create a seller warehouse."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "servers": [
          {
            "url": "https://api.main.mkplace.com.br",
            "description": "Produção"
          },
          {
            "url": "https://api.sandbox.mkplace.com.br",
            "description": "Homologação"
          }
        ]
      },
      "get": {
        "tags": [
          "Warehouse"
        ],
        "summary": "Listar Warehouses",
        "description": "## Descrição\n\nEndpoint para listar todas as warehouses cadastradas previamente.",
        "operationId": "get-store-seller-warehouse",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name of warehouse"
                      },
                      "sourceZipcode": {
                        "type": "string",
                        "description": "Zipcode of warehouse location"
                      },
                      "crossdockingTime": {
                        "type": "number",
                        "description": "Estimated value of time to transfer products for another warehouse"
                      },
                      "_id": {
                        "type": "string",
                        "description": "Warehouse identifier"
                      }
                    },
                    "required": [
                      "name",
                      "sourceZipcode",
                      "crossdockingTime",
                      "_id"
                    ]
                  },
                  "x-examples": {
                    "Example 1": [
                      {
                        "name": "Default Warehouse",
                        "sourceZipcode": "66555777",
                        "crossdockingTime": "0bd",
                        "_id": "jQGNY3p8mm"
                      }
                    ]
                  }
                },
                "examples": {
                  "Response": {
                    "value": [
                      {
                        "name": "Default Warehouse",
                        "sourceZipcode": "66555777",
                        "crossdockingTime": 0,
                        "_id": "jQGNY3p8mm"
                      }
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "ForbiddenError",
                      "message": "You have not permission for this operation (shopping/seller/update)"
                    }
                  }
                },
                "examples": {
                  "Request Authorization without permission": {
                    "value": {
                      "exceptionType": "ForbiddenError",
                      "message": "You have not permission for this operation (shopping/seller/update)"
                    }
                  },
                  "Request Authorization without context": {
                    "value": {
                      "exceptionType": "ForbiddenError",
                      "message": "Contexts sellerId are required for this operation"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "FatalError",
                      "message": "Error occurred when tried to connect on database and find a seller."
                    }
                  }
                },
                "examples": {
                  "Return if any problem occur on connection during get warehouse (this error isn't influenced by input)": {
                    "value": {
                      "exceptionType": "FatalError",
                      "message": "Error occurred when tried to connect on database and find a seller."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "servers": [
          {
            "url": "https://api.main.mkplace.com.br",
            "description": "Produção"
          },
          {
            "url": "https://api.sandbox.mkplace.com.br",
            "description": "Homologação"
          }
        ]
      }
    },
    "/store/seller/warehouse/{warehouseId}": {
      "put": {
        "tags": [
          "Warehouse"
        ],
        "summary": "Atualizar Warehouse",
        "description": "## Descrição\n\nEndpoint para atualizar uma Warehouse previamente criada.\n\nTodos os campos da Warehouse podem ser alterados, também podem ser feitos apenas em campos específicos, ou seja, é possivel passar no corpo da requisição apenas o `name` caso esse seja apenas o alvo da atualização, como também pode ser passado todos os atributos, apenas o `_id` não pode ser atualizado. ",
        "operationId": "put-store-seller-warehouse-warehouseId",
        "parameters": [
          {
            "name": "warehouseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Identifier of the warehouse."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nome do warehouse (centro de distribuição)."
                  },
                  "sourceZipcode": {
                    "type": "string",
                    "description": "CEP de origem do warehouse — de onde as mercadorias saem."
                  },
                  "crossdockingTime": {
                    "type": "number",
                    "description": "Tempo estimado (em dias) para transferir produtos para outro warehouse."
                  },
                  "preferentialWarehouse": {
                    "type": "boolean",
                    "description": "Define se este é o warehouse padrão/preferencial do vendedor."
                  }
                },
                "required": [
                  "name",
                  "sourceZipcode",
                  "crossdockingTime"
                ],
                "x-examples": {
                  "Example 1": {
                    "name": "Warehouse Zona Sul",
                    "sourceZipcode": "11123-569",
                    "crossdockingTime": 0,
                    "preferentialWarehouse": true
                  }
                }
              },
              "examples": {
                "Body": {
                  "value": {
                    "name": "Warehouse Zona Sul 2",
                    "sourceZipcode": "11123-569",
                    "crossdockingTime": 0,
                    "preferentialWarehouse": true
                  }
                },
                "Atualização parcial": {
                  "value": {
                    "name": "Novo nome",
                    "crossdockingTime": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Name of warehouse"
                    },
                    "sourceZipcode": {
                      "type": "string",
                      "description": "Zipcode of warehouse location"
                    },
                    "crossdockingTime": {
                      "type": "integer",
                      "description": "Estimated value of time to transfer products for another warehouse"
                    },
                    "preferentialWarehouse": {
                      "type": "boolean",
                      "description": "Whether this is the preferential warehouse"
                    }
                  },
                  "required": [
                    "name",
                    "sourceZipcode",
                    "crossdockingTime",
                    "preferentialWarehouse"
                  ],
                  "x-examples": {
                    "Example 1": {
                      "name": "Warehouse Zona Sul",
                      "sourceZipcode": "11123-569",
                      "crossdockingTime": 0,
                      "preferentialWarehouse": true
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "name": "Warehouse Zona Sul 2",
                      "sourceZipcode": "11123-569",
                      "crossdockingTime": 0,
                      "preferentialWarehouse": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "ValidationError",
                      "message": "WarehouseId is required for this operation."
                    }
                  }
                },
                "examples": {
                  "Return if warehouseId isn't sent": {
                    "value": {
                      "exceptionType": "ValidationError",
                      "message": "WarehouseId is required for this operation."
                    }
                  },
                  "Return if all changeable fields are sent empty": {
                    "value": {
                      "exceptionType": "ValidationError",
                      "message": "Send at least one parameter to be updated."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "ForbiddenError",
                      "message": "You have not permission for this operation (shopping/seller/update)"
                    }
                  }
                },
                "examples": {
                  "Request Authorization without permission": {
                    "value": {
                      "exceptionType": "ForbiddenError",
                      "message": "You have not permission for this operation (shopping/seller/update)"
                    }
                  },
                  "Request Authorization without context": {
                    "value": {
                      "exceptionType": "ForbiddenError",
                      "message": "Contexts sellerId are required for this operation"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "NotFoundError",
                      "message": "Couldn't find a warehouse with requested warehouseId wrongSellerId."
                    }
                  }
                },
                "examples": {
                  "Error if an incorrect or a warehouse that doesn't belong to seller are sent": {
                    "value": {
                      "exceptionType": "NotFoundError",
                      "message": "Couldn't find a warehouse with requested warehouseId wrong SellerId."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "FatalError",
                      "message": "Error occurred when tried to connect on database and find a seller."
                    }
                  }
                },
                "examples": {
                  "Return if any problem occur on connection during get seller warehouse (this error isn't influenced by input)": {
                    "value": {
                      "exceptionType": "FatalError",
                      "message": "Error occurred when tried to connect on database and find a seller."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "servers": [
          {
            "url": "https://api.main.mkplace.com.br",
            "description": "Produção"
          },
          {
            "url": "https://api.sandbox.mkplace.com.br",
            "description": "Homologação"
          }
        ]
      },
      "delete": {
        "tags": [
          "Warehouse"
        ],
        "summary": "Deletar Warehouse",
        "description": "## Descrição\n\nEndpoint criado para deletar uma Warehouse.\n\n## Regras\n- Para deletar uma Warehouse, esta não deve ser a preferencial, se for, procuraremos por outra ja cadastrada pelo seller. \n- Tentar deletar uma Warehouse que ainda possua ofertas com estoque apontadas para este Warehouse, a remoção irá falhar, não devem existir ofertas para a Warehouse a ser removida.\n\nObs.: Para evitar problemas, entre em contato com o suporte@mkplace.com.br em caso de dúvidas.\n\n## Resposta\n\nA resposta deste endpoint são todos os Warehouses remanescentes.",
        "operationId": "delete-store-seller-warehouse-warehouseId",
        "parameters": [
          {
            "name": "warehouseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Identifier of the warehouse."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name of warehouse"
                      },
                      "sourceZipcode": {
                        "type": "string",
                        "description": "Zipcode of warehouse location"
                      },
                      "crossdockingTime": {
                        "type": "string",
                        "description": "Estimated value of time to transfer products for another warehouse"
                      },
                      "active": {
                        "type": "boolean",
                        "description": "Whether the warehouse is active"
                      },
                      "remote": {
                        "type": "boolean",
                        "description": "Whether the warehouse is remote"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "Last update timestamp."
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "Creation timestamp."
                      },
                      "_id": {
                        "type": "string",
                        "description": "Warehouse identifier"
                      }
                    },
                    "required": [
                      "name",
                      "sourceZipcode",
                      "crossdockingTime",
                      "active",
                      "remote",
                      "updatedAt",
                      "createdAt",
                      "_id"
                    ]
                  },
                  "x-examples": {
                    "Example 1": [
                      {
                        "name": "Postman created",
                        "sourceZipcode": "11222333",
                        "crossdockingTime": "aaa",
                        "active": true,
                        "remote": false,
                        "updatedAt": {
                          "$date": "2022-04-11T19:24:59.833Z"
                        },
                        "createdAt": {
                          "$date": "2022-04-11T19:24:59.833Z"
                        },
                        "_id": "jQGNY3p8mm"
                      }
                    ]
                  }
                },
                "examples": {
                  "Response": {
                    "value": [
                      {
                        "name": "Postman created",
                        "sourceZipcode": "11222333",
                        "crossdockingTime": "aaa",
                        "active": true,
                        "remote": false,
                        "updatedAt": "2022-04-11T19:24:59.833Z",
                        "createdAt": "2022-04-11T19:24:59.833Z",
                        "_id": "jQGNY3p8mm"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "ValidationError",
                      "message": "WarehouseId is required for this operation."
                    }
                  }
                },
                "examples": {
                  "Return if warehouseId isn't sent": {
                    "value": {
                      "exceptionType": "ValidationError",
                      "message": "WarehouseId is required for this operation."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "NotFoundError",
                      "message": "Couldn't find a warehouse with requested warehouseId wrongWarehouseIdExample."
                    }
                  }
                },
                "examples": {
                  "Return if an incorrect or a warehouseId that belongs to another seller is sent": {
                    "value": {
                      "exceptionType": "NotFoundError",
                      "message": "Couldn't find a warehouse with requested warehouseId wrongWarehouseIdExample."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "FatalError",
                      "message": "Error occurred when tried to connect on database and delete a seller warehouse."
                    }
                  }
                },
                "examples": {
                  "Return if any problem occur on connection during delete seller warehouse (this error isn't influenced by input)": {
                    "value": {
                      "exceptionType": "FatalError",
                      "message": "Error occurred when tried to connect on database and delete a seller warehouse."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "servers": [
          {
            "url": "https://api.main.mkplace.com.br",
            "description": "Produção"
          },
          {
            "url": "https://api.sandbox.mkplace.com.br",
            "description": "Homologação"
          }
        ]
      }
    },
    "/freight/provider/{providerSlug}": {
      "put": {
        "tags": [
          "Frete"
        ],
        "summary": "Criar ou atualizar um provedor de frete",
        "description": "## Descrição\n\nEndpoint para a criação ou atualização de um provedor de frete.\n\nEste mesmo endpoint serve para o cadastro de chaves para o acesso aos provedores já integrados (atualmente apenas Intelipost) e também para o cadastro de provedores próprios via API Restful. Veja os exemplos ao lado de como fazer cada um deles.\n\nEm caso de dúvidas, envie email para suporte@mkplace.com.br\n\n## Regras\n- Para o cadastro de provedores de plataformas ja integradas, segue algumas observações:\n  - Intelipost:\n    - O objeto `configuration` tem um atributo obrigatório chamado `quotingMode` ao qual deverá ser atribuido um dos seguintes valores: [\"DYNAMIC_BOX_ALL_ITEMS\", \"REGISTERED_BOXES\", \"DYNAMIC_BOX_SINGLE_ITEM\", \"DYNAMIC_BOX_BY_SKU\"];\n    - O objeto `credentials` deverá conter um atributo obrigatório chamado `apiKey` e neste campo deverá ser atribuido a chave negociada em contrato com a própria Intelipost.\n  \n- Para o cadastro de provedores provenientes de uma integração com API existente de um vendedor, segue algumas observações:\n  - O objeto `configuration` deverá ter o seguinte atributo chamado `endpoint` e neste campo deverá conter a url completa do serviço criado conforme as documentações anteriores, vide [Cotação de frete via API]();\n  - Caso o endpoint construido tenha algum tipo de autenticação necessária, disponibilizamos apenas o cabeçalho `Authorization`. Para que a requisição consiga ser feita utilizando um token para este cabeçalho, o campo `apiKey` dentro do objeto `credentials` deverá conter a chave com seu tipo, exemplo `Bearer e18e4fbf71b0cd77fd4937...` ou `Basic e18e4fbf71b0cd77fd4937...`, vide os exemplos da documentação à direta.\n",
        "operationId": "put-freight-provider-providerSlug",
        "parameters": [
          {
            "name": "providerSlug",
            "in": "path",
            "description": "Nome do vendedor ou do serviço de frete deste vendedor, sugerimos que seja o nome do vendedor, minúsculo e sem espaços",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "configuration": {
                    "type": "object",
                    "description": "Properties of provider. Contém a URL do endpoint de cotação do seller no campo `endpoint` e demais propriedades."
                  },
                  "credentials": {
                    "type": "object",
                    "description": "Provider check credentials. Headers de autenticação enviados ao endpoint de cotação."
                  },
                  "category": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Provider category"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of Provider"
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of provider",
                    "enum": [
                      "intelipost",
                      "default"
                    ]
                  }
                },
                "required": [
                  "configuration",
                  "credentials"
                ],
                "x-examples": {
                  "Example 1": {
                    "name": "teste",
                    "type": "default",
                    "configuration": {
                      "quotingMode": "DYNAMIC_BOX_ALL_ITEMS"
                    },
                    "priority": 0,
                    "credentials": {
                      "apiKey": "e18e4fbf71b0cd77fd493783825c07771dd8027b1d2ca1687071664721c4283d"
                    },
                    "category": null,
                    "version": 1
                  }
                }
              },
              "examples": {
                "Exemplo de provedor Intelipost": {
                  "value": {
                    "name": "Intelipost do vendedor",
                    "configuration": {
                      "quotingMode": "DYNAMIC_BOX_ALL_ITEMS"
                    },
                    "priority": 0,
                    "credentials": {
                      "apiKey": "e18e4fbf71b0cd77fd493783825c07771dd8027b1..."
                    },
                    "category": null
                  }
                },
                "Exemplo de provedor integrado pela própria API": {
                  "value": {
                    "name": "API do vendedor",
                    "configuration": {
                      "endpoint": "https://my-quotation-of-freight/api/vendedor..."
                    },
                    "priority": 0,
                    "credentials": {
                      "apiKey": "Bearer e18e4fbf71b0cd77fd493783825c07771dd8027b1..."
                    },
                    "category": null
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string",
                      "description": "Provider identifier"
                    },
                    "sellerId": {
                      "type": "string",
                      "description": "Seller identifier owning the provider"
                    },
                    "category": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Provider category"
                    },
                    "slug": {
                      "type": "string",
                      "description": "Provider slug"
                    },
                    "storeId": {
                      "type": "string"
                    },
                    "configuration": {
                      "type": "object",
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "quotingMode": {
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "properties": {
                            "endpoint": {
                              "type": "string"
                            }
                          }
                        }
                      ],
                      "description": "Properties of provider"
                    },
                    "credentials": {
                      "type": "object",
                      "properties": {
                        "apiKey": {
                          "type": "string"
                        }
                      },
                      "description": "Provider check credentials (mascaradas na resposta)."
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "Creation timestamp."
                    },
                    "updatedAt": {
                      "type": "string",
                      "description": "Last update timestamp."
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "_id": "providerId",
                      "sellerId": "sellerId",
                      "category": null,
                      "slug": "intelipost",
                      "storeId": "storeId",
                      "configuration": {
                        "quotingMode": "DYNAMIC_BOX_ALL_ITEMS"
                      },
                      "credentials": {
                        "apiKey": "xxx"
                      },
                      "createdAt": "2022-01-14T14:13:45.294Z",
                      "updatedAt": "2022-01-14T14:13:45.294Z"
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "_id": "providerId",
                      "sellerId": "sellerId",
                      "category": null,
                      "slug": "intelipost",
                      "storeId": "storeId",
                      "configuration": {
                        "quotingMode": "DYNAMIC_BOX_ALL_ITEMS"
                      },
                      "credentials": {
                        "apiKey": "xxx"
                      },
                      "createdAt": "2022-01-14T14:13:45.294Z",
                      "updatedAt": "2022-01-14T14:13:45.294Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "ValidationError",
                      "message": "Path parameter 'providerSlug' is required for this operation"
                    }
                  }
                },
                "examples": {
                  "Path parameter is missing": {
                    "value": {
                      "exceptionType": "ValidationError",
                      "message": "Path parameter 'providerSlug' is required for this operation"
                    }
                  },
                  "Return if providerSlug already exists": {
                    "value": {
                      "exceptionType": "Validation Error",
                      "message": "Provider already exists"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "ForbiddenError",
                      "message": "Contexts storeId are required for this operation"
                    }
                  }
                },
                "examples": {
                  "Request Authorization without permission": {
                    "value": {
                      "exceptionType": "ForbiddenError",
                      "message": "You have not permission for this operation (freight/provider/create)"
                    }
                  },
                  "Request Authorization without context": {
                    "value": {
                      "exceptionType": "ForbiddenError",
                      "message": "Contexts storeId are required for this operation"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "FatalError",
                      "message": "Error occurred when tried to connect on database to create or update a provider."
                    }
                  }
                },
                "examples": {
                  "Return if any error occur during connection (This error isn't influenced by user inputs)": {
                    "value": {
                      "exceptionType": "FatalError",
                      "message": "Error occurred when tried to connect on database to create or update a provider."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "servers": [
          {
            "url": "https://api.main.mkplace.com.br",
            "description": "Produção"
          },
          {
            "url": "https://api.sandbox.mkplace.com.br",
            "description": "Homologação"
          }
        ]
      },
      "delete": {
        "tags": [
          "Frete"
        ],
        "summary": "Deletar provedor de frete",
        "description": "## Descrição\n\nEndpoint para a remoção de um provedor criado previamente.",
        "operationId": "delete-freight-provider-providerSlug",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "description": "Para deletar um provedor com mesmo `slug` porém em categoria diferente",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "providerSlug",
            "in": "path",
            "description": "Nome do vendedor ou do serviço de frete deste vendedor, sugerimos que seja o nome do vendedor, minúsculo e sem espaços",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "deleted": true
                    }
                  }
                },
                "examples": {
                  "Resposta positiva caso seja deletado": {
                    "value": {
                      "deleted": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "ValidationError",
                      "message": "Path parameter 'providerSlug' is required for this operation"
                    }
                  }
                },
                "examples": {
                  "Path parameter is missing": {
                    "value": {
                      "exceptionType": "ValidationError",
                      "message": "Path parameter 'providerSlug' is required for this operation"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "ForbiddenError",
                      "message": "You have not permission for this operation (freight/provider/read)"
                    }
                  }
                },
                "examples": {
                  "Request Authorization without permission": {
                    "value": {
                      "exceptionType": "ForbiddenError",
                      "message": "You have not permission for this operation (freight/provider/read)"
                    }
                  },
                  "Request Authorization without context": {
                    "value": {
                      "exceptionType": "ForbiddenError",
                      "message": "Contexts storeId are required for this operation"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "NotFoundError",
                      "message": "No Provider was found to the given providerSlug"
                    }
                  }
                },
                "examples": {
                  "There is no created provider to the given slug": {
                    "value": {
                      "exceptionType": "NotFoundError",
                      "message": "No Provider was found to the given providerSlug"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "servers": [
          {
            "url": "https://api.main.mkplace.com.br",
            "description": "Produção"
          },
          {
            "url": "https://api.sandbox.mkplace.com.br",
            "description": "Homologação"
          }
        ]
      }
    },
    "/freight/provider": {
      "get": {
        "tags": [
          "Frete"
        ],
        "summary": "Listar Provedores de frete",
        "description": "## Descrição\n\nEndpoint para lista os provedores cadastrados para o vendedor requisitante.",
        "operationId": "get-freight-provider",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Pagina",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limitação de provedores por requisição",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "docs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string",
                            "description": "Provider identifier"
                          },
                          "sellerId": {
                            "type": "string",
                            "description": "Seller identifier owning the provider"
                          },
                          "category": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Provider category"
                          },
                          "slug": {
                            "type": "string",
                            "description": "Provider slug"
                          },
                          "storeId": {
                            "type": "string"
                          },
                          "configuration": {
                            "type": "object",
                            "oneOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "quotingMode": {
                                    "type": "string"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "endpoint": {
                                    "type": "string"
                                  }
                                }
                              }
                            ],
                            "description": "Properties of provider"
                          },
                          "credentials": {
                            "type": "object",
                            "properties": {
                              "apiKey": {
                                "type": "string"
                              }
                            },
                            "description": "Provider check credentials (mascaradas na resposta)."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "Last update timestamp."
                          }
                        }
                      },
                      "description": "List of returned documents."
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of documents."
                    },
                    "limit": {
                      "type": "integer",
                      "description": "Maximum number of documents per page."
                    },
                    "page": {
                      "type": "integer",
                      "description": "Current page number."
                    },
                    "pages": {
                      "type": "integer",
                      "description": "Total number of pages."
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "docs": [
                        {
                          "_id": "providerId",
                          "sellerId": null,
                          "category": null,
                          "slug": "intelipost",
                          "storeId": "storeId",
                          "configuration": {
                            "quotingMode": "DYNAMIC_BOX_ALL_ITEMS"
                          },
                          "credentials": {
                            "apiKey": "xxxxxxxxx"
                          },
                          "createdAt": "2022-01-13T14:19:56.606Z",
                          "updatedAt": "2022-01-13T14:19:56.606Z"
                        },
                        {
                          "_id": "providerId",
                          "sellerId": "sellerId",
                          "category": null,
                          "slug": "intelipost",
                          "storeId": "storeId",
                          "configuration": {
                            "quotingMode": "DYNAMIC_BOX_ALL_ITEMS"
                          },
                          "credentials": {
                            "apiKey": "xxxxxxxxx"
                          },
                          "createdAt": "2022-01-14T14:13:45.294Z",
                          "updatedAt": "2022-01-14T14:13:45.294Z"
                        }
                      ],
                      "total": 2,
                      "limit": 50,
                      "page": 1,
                      "pages": 1
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "docs": [
                        {
                          "_id": "providerId",
                          "sellerId": "sellerId",
                          "category": null,
                          "slug": "intelipost",
                          "storeId": "storeId",
                          "configuration": {
                            "quotingMode": "DYNAMIC_BOX_ALL_ITEMS"
                          },
                          "credentials": {
                            "apiKey": "xxxxxxxxx"
                          },
                          "createdAt": "2022-01-14T14:13:45.294Z",
                          "updatedAt": "2022-01-14T14:13:45.294Z"
                        }
                      ],
                      "total": 1,
                      "limit": 50,
                      "page": 1,
                      "pages": 1
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "ForbiddenError",
                      "message": "You have not permission for this operation (freight/provider/read)"
                    }
                  }
                },
                "examples": {
                  "Request Authorization without permission": {
                    "value": {
                      "exceptionType": "ForbiddenError",
                      "message": "You have not permission for this operation (freight/provider/read)"
                    }
                  },
                  "Request Authorization without context": {
                    "value": {
                      "exceptionType": "ForbiddenError",
                      "message": "Contexts storeId are required for this operation"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "FatalError",
                      "message": "Error occurred when tried to connect on database or find providers."
                    }
                  }
                },
                "examples": {
                  "Error if anything occur during connection (This error isn't influenced by user input)": {
                    "value": {
                      "exceptionType": "FatalError",
                      "message": "Error occurred when tried to connect on database or find providers."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "servers": [
          {
            "url": "https://api.main.mkplace.com.br",
            "description": "Produção"
          },
          {
            "url": "https://api.sandbox.mkplace.com.br",
            "description": "Homologação"
          }
        ]
      }
    },
    "/sales/webhook": {
      "get": {
        "tags": [
          "Webhook-Sales"
        ],
        "summary": "Listar Webhooks",
        "description": "## Descrição\n\nEndpoint para listar os Webhooks existentes",
        "operationId": "get-sales-webhook",
        "parameters": [
          {
            "name": "endpoint",
            "in": "query",
            "description": "Webhook Endpoint",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statusFilter",
            "in": "query",
            "description": "Status Filter belonging to this Webhook. It is possible to send multiple statusFilter values",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page that will be listed",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Quantity of Webhooks which will be loaded per page",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "docs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string",
                            "description": "Webhook identifier"
                          },
                          "storeId": {
                            "type": "string"
                          },
                          "sellerId": {
                            "type": "string"
                          },
                          "endpoint": {
                            "type": "string",
                            "description": "A route for the webhook."
                          },
                          "statusFilter": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Order status filters."
                          },
                          "requestConfiguration": {
                            "type": "object",
                            "properties": {
                              "headers": {
                                "type": "object",
                                "properties": {
                                  "Content-Type": {
                                    "type": "string"
                                  },
                                  "Authorization": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "description": "Header and other possibly required parameters to be sent to the endpoint."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "Last update timestamp."
                          },
                          "__v": {
                            "type": "integer",
                            "description": "Document version key."
                          }
                        }
                      },
                      "description": "List of returned documents."
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of documents."
                    },
                    "limit": {
                      "type": "integer",
                      "description": "Maximum number of documents per page."
                    },
                    "page": {
                      "type": "string",
                      "description": "Current page number."
                    },
                    "pages": {
                      "type": "integer",
                      "description": "Total number of pages."
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "docs": [
                        {
                          "_id": "webhookId",
                          "storeId": "string",
                          "sellerId": "string",
                          "endpoint": "https://seller_endpoint.com.br/notification/test",
                          "statusFilter": [
                            "BILLED"
                          ],
                          "requestConfiguration": {
                            "headers": {
                              "Content-Type": "application/json",
                              "Authorization": "Bearer eyJhbGciOiJIUzI..."
                            }
                          },
                          "createdAt": "2022-01-01T14:39:25.835Z",
                          "updatedAt": "2022-01-01T17:23:59.897Z",
                          "__v": 0
                        }
                      ],
                      "total": 1,
                      "limit": 50,
                      "page": "1",
                      "pages": 1
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "docs": [
                        {
                          "_id": "webhookId",
                          "storeId": "string",
                          "sellerId": "string",
                          "endpoint": "https://seller_endpoint.com.br/notification/test",
                          "statusFilter": [
                            "BILLED"
                          ],
                          "requestConfiguration": {
                            "headers": {
                              "Content-Type": "application/json",
                              "Authorization": "Bearer eyJhbGciOiJIUzI..."
                            }
                          },
                          "createdAt": "2022-01-01T14:39:25.835Z",
                          "updatedAt": "2022-01-01T17:23:59.897Z",
                          "__v": 0
                        }
                      ],
                      "total": 1,
                      "limit": 50,
                      "page": "1",
                      "pages": 1
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "ForbiddenError",
                      "message": "You have not permission for this operation (sales/webhook/create)"
                    }
                  }
                },
                "examples": {
                  "Request does not have context permission": {
                    "value": {
                      "exceptionType": "ForbiddenError",
                      "message": "You have not permission for this operation (sales/webhook/read)"
                    }
                  },
                  "Request without storeId or sellerId profile": {
                    "value": {
                      "exceptionType": "ForbiddenError",
                      "message": "Contexts storeId, sellerId are required for this operation"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "servers": [
          {
            "url": "https://api.main.mkplace.com.br",
            "description": "Produção"
          },
          {
            "url": "https://api.sandbox.mkplace.com.br",
            "description": "Homologação"
          }
        ]
      },
      "post": {
        "tags": [
          "Webhook-Sales"
        ],
        "summary": "Criar Webhook",
        "description": "## Descrição\n\nEndpoint para criação de Webhook.",
        "operationId": "post-sales-webhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "endpoint": {
                    "type": "string",
                    "format": "uri",
                    "description": "A route for the webhook."
                  },
                  "statusFilter": {
                    "type": "array",
                    "description": "Order status filters.",
                    "minItems": 1,
                    "items": {
                      "type": "string",
                      "enum": [
                        "PRE-ORDER",
                        "EXPIRED",
                        "CANCELED",
                        "WAITING-PAYMENT",
                        "PAID",
                        "BILLED",
                        "SENT",
                        "DELIVERED",
                        "PARTIALLY-SENT",
                        "PARTIALLY-DELIVERED",
                        "PARTIALLY-BILLED",
                        "IN-PROCESSING",
                        "REFUNDED",
                        "REPLACED",
                        "RETURNED"
                      ]
                    }
                  },
                  "authType": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Defines the webhook authentication type.",
                    "enum": [
                      "keycloak",
                      "no-auth"
                    ]
                  },
                  "authEndpoint": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uri",
                    "description": "Endpoint used for request authentication."
                  },
                  "credentials": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "description": "Credentials used to authenticate request"
                  },
                  "requestConfiguration": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "description": "Header and other possibly required parameters to be sent to the endpoint.",
                    "properties": {
                      "headers": {
                        "type": "object",
                        "properties": {
                          "Authorization": {
                            "type": "string"
                          },
                          "Content-Type": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "channelSlug": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "The channel slug to which the webhook is related."
                  },
                  "orderType": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Order type filter",
                    "enum": [
                      "ORDER",
                      "LOYALTY",
                      "SUBSCRIPTION"
                    ]
                  }
                },
                "required": [
                  "endpoint",
                  "statusFilter"
                ],
                "x-examples": {
                  "Example 1": {
                    "endpoint": "http://example.com",
                    "statusFilter": [
                      "PRE-ORDER"
                    ],
                    "requestConfiguration": {
                      "headers": {
                        "Authorization": "Bearer c41fwc13-624d-365e-9622-ec3d1fdb814d",
                        "Content-Type": "application/json"
                      }
                    }
                  }
                }
              },
              "examples": {
                "Body": {
                  "value": {
                    "endpoint": "http://example.com",
                    "statusFilter": [
                      "PRE-ORDER"
                    ],
                    "requestConfiguration": {
                      "headers": {
                        "Authorization": "Bearer c41fwc13-624d-365e-9622-ec3d1fdb814d...",
                        "Content-Type": "application/json"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusFilter": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Order status filters."
                    },
                    "requestConfiguration": {
                      "type": "object",
                      "properties": {
                        "headers": {
                          "type": "object",
                          "properties": {
                            "Content-Type": {
                              "type": "string"
                            },
                            "Authorization": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "description": "Header and other possibly required parameters to be sent to the endpoint."
                    },
                    "endpoint": {
                      "type": "string",
                      "description": "A route for the webhook."
                    },
                    "storeId": {
                      "type": "string"
                    },
                    "sellerId": {
                      "type": "string"
                    },
                    "_id": {
                      "type": "string",
                      "description": "Webhook identifier"
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "Creation timestamp."
                    },
                    "updatedAt": {
                      "type": "string",
                      "description": "Last update timestamp."
                    },
                    "__v": {
                      "type": "integer",
                      "description": "Document version key."
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "statusFilter": [
                        "SENT",
                        "CANCELED"
                      ],
                      "requestConfiguration": {
                        "headers": {
                          "Content-Type": "application/json"
                        }
                      },
                      "endpoint": "https://vengeful-star.name",
                      "storeId": "9qAcdOluBG",
                      "sellerId": "0RCMBSNbOl",
                      "_id": "uKP9_BKkDf",
                      "createdAt": "2022-04-18T17:58:12.023Z",
                      "updatedAt": "2022-04-18T17:58:12.023Z",
                      "__v": 0
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "statusFilter": [
                        "SENT",
                        "CANCELED"
                      ],
                      "requestConfiguration": {
                        "headers": {
                          "Content-Type": "application/json"
                        }
                      },
                      "endpoint": "https://vengeful-star.name",
                      "storeId": "9qAcdOluBG",
                      "sellerId": "0RCMBSNbOl",
                      "_id": "uKP9_BKkDf",
                      "createdAt": "2022-04-18T17:58:12.023Z",
                      "updatedAt": "2022-04-18T17:58:12.023Z",
                      "__v": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "ValidationError",
                      "message": "There are validations errors, error 'must have required property 'endpoint ''"
                    }
                  }
                },
                "examples": {
                  "When endpoint was not provided": {
                    "value": {
                      "exceptionType": "ValidationError",
                      "message": "There are validations errors, error 'must have required property 'endpoint ''"
                    }
                  },
                  "When endpoint is not string": {
                    "value": {
                      "exceptionType": "ValidationError",
                      "message": "There are validations errors, field '/endpoint' error 'must be string'"
                    }
                  },
                  "When endpoint is not uri format": {
                    "value": {
                      "exceptionType": "ValidationError",
                      "message": "There are validations errors, field '/endpoint' error 'must match format \"uri\"'"
                    }
                  },
                  "When statusFilter was not provided": {
                    "value": {
                      "exceptionType": "ValidationError",
                      "message": "There are validations errors, error 'must have required property 'statusFilter''"
                    }
                  },
                  "When statusFilter is not array": {
                    "value": {
                      "exceptionType": "ValidationError",
                      "message": "There are validations errors, field '/statusFilter' error 'must be array'"
                    }
                  },
                  "When statusFilter doest not contain an allowed string value": {
                    "value": {
                      "exceptionType": "ValidationError",
                      "message": "There are validations errors, field '/statusFilter/0' error 'must be equal to one of the allowed values'"
                    }
                  },
                  "When statusFilter array is empty": {
                    "value": {
                      "exceptionType": "ValidationError",
                      "message": "There are validations errors, field '/statusFilter' error 'must NOT have fewer than 1 items'"
                    }
                  },
                  "When requestConfiguration is not and object or null": {
                    "value": {
                      "exceptionType": "ValidationError",
                      "message": "There are validations errors, field '/requestConfiguration' error 'must be object,null'"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "ForbiddenError",
                      "message": "You have not permission for this operation (sales/webhook/create)"
                    }
                  }
                },
                "examples": {
                  "Request does not have context permission": {
                    "value": {
                      "exceptionType": "ForbiddenError",
                      "message": "You have not permission for this operation (sales/webhook/create)"
                    }
                  },
                  "Request without storeId or sellerId profile": {
                    "value": {
                      "exceptionType": "ForbiddenError",
                      "message": "Contexts storeId, sellerId are required for this operation"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "servers": [
          {
            "url": "https://api.main.mkplace.com.br",
            "description": "Produção"
          },
          {
            "url": "https://api.sandbox.mkplace.com.br",
            "description": "Homologação"
          }
        ]
      }
    },
    "/sales/webhook/{webhookId}": {
      "put": {
        "tags": [
          "Webhook-Sales"
        ],
        "summary": "Atualizar Webhook",
        "description": "## Descrição\n\nEndpoint para atualização de Webhook",
        "operationId": "put-sales-webhook-webhookId",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Identifier of the webhook."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "endpoint": {
                    "type": "string",
                    "format": "uri",
                    "description": "A route for the webhook."
                  },
                  "statusFilter": {
                    "type": "array",
                    "description": "Order status filters.",
                    "minItems": 1,
                    "items": {
                      "type": "string",
                      "enum": [
                        "PRE-ORDER",
                        "EXPIRED",
                        "CANCELED",
                        "WAITING-PAYMENT",
                        "PAID",
                        "BILLED",
                        "SENT",
                        "DELIVERED",
                        "PARTIALLY-SENT",
                        "PARTIALLY-DELIVERED",
                        "PARTIALLY-BILLED",
                        "IN-PROCESSING",
                        "REFUNDED",
                        "REPLACED",
                        "RETURNED"
                      ]
                    }
                  },
                  "authType": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Defines the webhook authentication type.",
                    "enum": [
                      "keycloak",
                      "no-auth"
                    ]
                  },
                  "authEndpoint": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uri",
                    "description": "Endpoint used for request authentication."
                  },
                  "credentials": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "description": "Credentials used to authenticate request"
                  },
                  "requestConfiguration": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "description": "Header and other possibly required parameters to be sent to the endpoint."
                  },
                  "channelSlug": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "The channel slug to which the webhook is related."
                  },
                  "orderType": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Order type filter",
                    "enum": [
                      "ORDER",
                      "LOYALTY",
                      "SUBSCRIPTION"
                    ]
                  }
                },
                "required": [
                  "endpoint",
                  "statusFilter"
                ],
                "x-examples": {
                  "Example 1": {
                    "endpoint": "http://example.com",
                    "statusFilter": [
                      "PRE-ORDER"
                    ],
                    "requestConfiguration": {}
                  }
                }
              },
              "examples": {
                "Body": {
                  "value": {
                    "endpoint": "http://example.com",
                    "statusFilter": [
                      "PRE-ORDER"
                    ],
                    "requestConfiguration": {}
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string",
                      "description": "Webhook identifier"
                    },
                    "storeId": {
                      "type": "string"
                    },
                    "sellerId": {
                      "type": "string"
                    },
                    "endpoint": {
                      "type": "string",
                      "description": "A route for the webhook."
                    },
                    "statusFilter": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Order status filters."
                    },
                    "requestConfiguration": {
                      "type": "object",
                      "description": "Header and other possibly required parameters to be sent to the endpoint."
                    },
                    "__v": {
                      "type": "integer",
                      "description": "Document version key."
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "Creation timestamp."
                    },
                    "updatedAt": {
                      "type": "string",
                      "description": "Last update timestamp."
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "_id": "string",
                      "storeId": "string",
                      "sellerId": "string",
                      "endpoint": "http://example.com",
                      "statusFilter": [
                        "PRE-ORDER"
                      ],
                      "requestConfiguration": {},
                      "__v": 0,
                      "createdAt": "string",
                      "updatedAt": "string"
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "_id": "string",
                      "storeId": "string",
                      "sellerId": "string",
                      "endpoint": "http://example.com",
                      "statusFilter": [
                        "PRE-ORDER"
                      ],
                      "requestConfiguration": {},
                      "__v": 0,
                      "createdAt": "string",
                      "updatedAt": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "ValidationError",
                      "message": "There are validations errors, error 'must have required property 'endpoint ''"
                    }
                  }
                },
                "examples": {
                  "When endpoint was not provided": {
                    "value": {
                      "exceptionType": "ValidationError",
                      "message": "There are validations errors, error 'must have required property 'endpoint ''"
                    }
                  },
                  "When endpoint is not string": {
                    "value": {
                      "exceptionType": "ValidationError",
                      "message": "There are validations errors, field '/endpoint' error 'must be string'"
                    }
                  },
                  "When endpoint is not uri format": {
                    "value": {
                      "exceptionType": "ValidationError",
                      "message": "There are validations errors, field '/endpoint' error 'must match format \"uri\"'"
                    }
                  },
                  "When statusFilter was not provided": {
                    "value": {
                      "exceptionType": "ValidationError",
                      "message": "There are validations errors, error 'must have required property 'statusFilter''"
                    }
                  },
                  "When statusFilter is not array": {
                    "value": {
                      "exceptionType": "ValidationError",
                      "message": "There are validations errors, field '/statusFilter' error 'must be array'"
                    }
                  },
                  "When statusFilter doest not contain an allowed string value": {
                    "value": {
                      "exceptionType": "ValidationError",
                      "message": "There are validations errors, field '/statusFilter/0' error 'must be equal to one of the allowed values'"
                    }
                  },
                  "When statusFilter array is empty": {
                    "value": {
                      "exceptionType": "ValidationError",
                      "message": "There are validations errors, field '/statusFilter' error 'must NOT have fewer than 1 items'"
                    }
                  },
                  "When requestConfiguration is not and object or null": {
                    "value": {
                      "exceptionType": "ValidationError",
                      "message": "There are validations errors, field '/requestConfiguration' error 'must be object,null'"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "ForbiddenError",
                      "message": "You have not permission for this operation (sales/webhook/update)"
                    }
                  }
                },
                "examples": {
                  "Request does not have context permission": {
                    "value": {
                      "exceptionType": "ForbiddenError",
                      "message": "You have not permission for this operation (sales/webhook/update)"
                    }
                  },
                  "Request without storeId or sellerId profile": {
                    "value": {
                      "exceptionType": "ForbiddenError",
                      "message": "Contexts storeId, sellerId are required for this operation"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "exceptionType": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "message": "NotFoundError",
                      "exceptionType": "Webhook not found."
                    }
                  }
                },
                "examples": {
                  "Webhook not found": {
                    "value": {
                      "message": "NotFoundError",
                      "exceptionType": "Webhook not found."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "servers": [
          {
            "url": "https://api.main.mkplace.com.br",
            "description": "Produção"
          },
          {
            "url": "https://api.sandbox.mkplace.com.br",
            "description": "Homologação"
          }
        ]
      },
      "delete": {
        "tags": [
          "Webhook-Sales"
        ],
        "summary": "Deletar Webhook",
        "description": "## Descrição\n\nEndpoint para remover um webhook criado previamente.",
        "operationId": "delete-sales-webhook-webhookId",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Identifier of the webhook."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "deleted": true
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "deleted": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
[...]
