{
  "openapi": "3.1.0",
  "x-stoplight": {
    "id": "pcnjvyfn40wg8"
  },
  "info": {
    "version": "1.0",
    "title": "Plataforma Mkplace",
    "summary": "Serviços Mkplace"
  },
  "servers": [
    {
      "url": "https://api.main.mkplace.com",
      "description": "Sandbox"
    }
  ],
  "paths": {
    "/freight/worksheet/v2": {
      "post": {
        "tags": ["Tabela de frete"],
        "summary": "Criar ou atualizar worksheet",
        "operationId": "post-worksheet-v2",
        "x-mint": { "href": "/api-reference/tabela-de-frete/criar-atualizar-worksheet" },
        "description": "Cria uma worksheet (cabeçalho da tabela de frete) ou atualiza uma existente. Informe `worksheetId` para atualizar; omita para criar.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "worksheetId": { "type": "string", "description": "Id da worksheet a atualizar. Omita para criar uma nova." },
                  "name": { "type": "string", "minLength": 3, "description": "Nome da worksheet (ex.: transportadora ou método)." },
                  "isActive": { "type": "boolean", "default": true, "description": "Indica se a worksheet está ativa e disponível para cotação." },
                  "logo": { "type": "string", "description": "URL do logo exibido para o método de entrega." },
                  "useCubageFactor": { "type": "boolean", "default": true, "description": "Indica se a cotação considera o fator de cubagem." },
                  "cubageFactor": { "type": "number", "minimum": 0, "description": "Fator de cubagem aplicado aos volumes." },
                  "additionalTime": { "type": "number", "minimum": 0, "description": "Tempo adicional somado ao prazo de entrega." },
                  "deliveryAreaType": {
                    "type": "string",
                    "enum": ["zipCodeRange", "radius", "polygon"],
                    "description": "Tipo de área de entrega que define o formato das linhas da tabela: `zipCodeRange` (faixas de CEP), `radius` (raio a partir do galpão) ou `polygon` (área por coordenadas)."
                  },
                  "warehouseId": { "type": "string", "minLength": 3, "description": "Identificador do galpão (warehouse) de origem." },
                  "service": { "type": "string", "minLength": 2, "description": "Nome do método/serviço de entrega (ex.: PAC, SEDEX)." },
                  "deliveryTimeType": {
                    "type": "string",
                    "enum": ["DAYS", "BUSINESS_DAYS", "HOURS", "MINUTES"],
                    "description": "Unidade do prazo de entrega: dias corridos, dias úteis, horas ou minutos."
                  },
                  "deliveryType": {
                    "type": "string",
                    "enum": ["STANDARD", "DELIVERY", "PICKUP", "DELIVERY_OWNER_STORE"],
                    "description": "Modalidade de entrega: `STANDARD` (entrega convencional, ex.: origem em SP entregando no RJ), `DELIVERY` (entrega local, estilo iFood), `PICKUP` (retirada em loja) ou `DELIVERY_OWNER_STORE` (entrega pela própria loja)."
                  },
                  "deliveryMethodId": { "type": ["string", "null"], "description": "Identificador do método de entrega associado, quando houver." },
                  "availabilities": {
                    "type": "array",
                    "description": "Janelas de disponibilidade (horários) em que o método de entrega opera.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "startHour": { "type": "number", "minimum": 0, "maximum": 23, "description": "Hora de início da janela (0–23)." },
                        "startMinute": { "type": "number", "minimum": 0, "maximum": 59, "description": "Minuto de início da janela (0–59)." },
                        "endHour": { "type": "number", "minimum": 0, "maximum": 23, "description": "Hora de fim da janela (0–23)." },
                        "endMinute": { "type": "number", "minimum": 0, "maximum": 59, "description": "Minuto de fim da janela (0–59)." },
                        "weekDays": { "type": "array", "items": { "type": "number", "minimum": 0, "maximum": 6 }, "description": "Dias da semana em que a janela vale (0=domingo … 6=sábado)." },
                        "label": { "type": "string", "description": "Rótulo da janela." },
                        "price": { "type": "number", "minimum": 0, "description": "Preço associado à janela." },
                        "time": { "type": "number", "minimum": 0, "description": "Tempo associado à janela." },
                        "fixedTime": { "type": "string", "description": "Horário fixo de entrega da janela." },
                        "nextBusinessDay": { "type": "boolean", "default": false, "description": "Indica se a entrega ocorre no próximo dia útil." },
                        "overwrite": { "type": "boolean", "default": false, "description": "Indica se a janela sobrescreve preço/tempo da tabela." }
                      },
                      "required": ["startHour", "startMinute", "endHour", "endMinute"]
                    }
                  }
                },
                "required": ["name", "useCubageFactor", "cubageFactor", "deliveryAreaType", "warehouseId", "service", "deliveryTimeType", "deliveryType"]
              },
              "examples": {
                "Worksheet": {
                  "value": {
                    "name": "Correios",
                    "isActive": true,
                    "logo": "https://xpto.com.br",
                    "useCubageFactor": true,
                    "cubageFactor": 11,
                    "additionalTime": 0,
                    "deliveryAreaType": "zipCodeRange",
                    "warehouseId": "default",
                    "service": "PAC",
                    "deliveryTimeType": "DAYS",
                    "deliveryType": "DELIVERY"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Worksheet criada ou atualizada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": { "type": "string", "description": "Identificador da worksheet." },
                    "name": { "type": "string", "description": "Nome da worksheet." },
                    "deliveryAreaType": { "type": "string", "description": "Tipo de área de entrega." },
                    "warehouseId": { "type": "string", "description": "Galpão de origem." },
                    "service": { "type": "string", "description": "Método de entrega." },
                    "isActive": { "type": "boolean", "description": "Se a worksheet está ativa." }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Tabela de frete"],
        "summary": "Listar worksheets",
        "operationId": "get-worksheet-v2",
        "x-mint": { "href": "/api-reference/tabela-de-frete/listar-worksheets" },
        "description": "Lista as worksheets cadastradas, de forma paginada.",
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "number" }, "description": "Página (começa em 1)." },
          { "name": "limit", "in": "query", "schema": { "type": "number" }, "description": "Quantidade de itens por página." },
          { "name": "ref", "in": "query", "schema": { "type": "string" }, "description": "Filtra por `_id` ou por nome da worksheet." }
        ],
        "responses": {
          "200": {
            "description": "Lista de worksheets.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "docs": { "type": "array", "description": "Worksheets da página.", "items": { "type": "object" } },
                    "total": { "type": "number", "description": "Total de worksheets." },
                    "limit": { "type": "number", "description": "Itens por página." },
                    "page": { "type": "number", "description": "Página atual." },
                    "pages": { "type": "number", "description": "Total de páginas." }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/freight/worksheet/v2/{worksheetRef}": {
      "delete": {
        "tags": ["Tabela de frete"],
        "summary": "Deletar worksheet",
        "operationId": "delete-worksheet-v2-worksheetRef",
        "x-mint": { "href": "/api-reference/tabela-de-frete/deletar-worksheet" },
        "description": "Remove a worksheet e todas as suas linhas (tables) associadas.",
        "parameters": [
          { "name": "worksheetRef", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Id da worksheet a remover." }
        ],
        "responses": {
          "200": { "description": "Worksheet removida." }
        }
      }
    },
    "/freight/worksheet/v2/{worksheetRef}/tables": {
      "post": {
        "tags": ["Tabela de frete"],
        "summary": "Criar ou atualizar linhas da tabela",
        "operationId": "post-worksheet-v2-worksheetRef-tables",
        "x-mint": { "href": "/api-reference/tabela-de-frete/criar-atualizar-linhas" },
        "description": "Insere ou atualiza, em lote, as linhas (tables) de uma worksheet. O formato de cada linha segue o `deliveryAreaType` da worksheet. Informe `_id` na linha para atualizar; omita para inserir.",
        "parameters": [
          { "name": "worksheetRef", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Id da worksheet dona das linhas." }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "worksheet": {
                    "type": "array",
                    "minItems": 1,
                    "description": "Linhas da tabela. Cada item segue um dos formatos: faixa de CEP, raio ou polígono.",
                    "items": {
                      "oneOf": [
                        {
                          "title": "Linha por faixa de CEP (zipCodeRange)",
                          "type": "object",
                          "properties": {
                            "_id": { "type": "string", "description": "Id da linha (informe apenas para atualizar)." },
                            "zipCodeStart": { "type": "number", "minimum": 0, "description": "Início da faixa de CEP." },
                            "zipCodeEnd": { "type": "number", "minimum": 0, "description": "Fim da faixa de CEP." },
                            "weightStart": { "type": ["number", "null"], "minimum": 0, "description": "Peso mínimo da faixa (kg)." },
                            "weightEnd": { "type": ["number", "null"], "minimum": 0, "description": "Peso máximo da faixa (kg)." },
                            "shippingCostClient": { "type": "number", "minimum": 0, "description": "Valor base do frete." },
                            "deliveryTimeMin": { "type": "number", "minimum": 0, "description": "Prazo mínimo de entrega." },
                            "deliveryTimeMax": { "type": "number", "minimum": 0, "description": "Prazo máximo de entrega." },
                            "freightPercentage": { "type": "number", "minimum": 0, "maximum": 100, "description": "Percentual de frete." },
                            "trtFixed": { "type": "number", "minimum": 0, "description": "Valor fixo de TRT (Taxa de Restrição de Trânsito)." },
                            "tollFixed": { "type": "number", "minimum": 0, "description": "Valor fixo de pedágio." },
                            "insuranceFixed": { "type": "number", "minimum": 0, "description": "Valor fixo de seguro." },
                            "insurancePercentage": { "type": "number", "minimum": 0, "maximum": 100, "description": "Percentual de seguro." },
                            "taxesFixed": { "type": "number", "minimum": 0, "description": "Valor fixo de impostos." },
                            "taxesPercentage": { "type": "number", "minimum": 0, "maximum": 100, "description": "Percentual de impostos." },
                            "grisPercentage": { "type": "number", "minimum": 0, "maximum": 100, "description": "Percentual de GRIS (Gerenciamento de Risco)." },
                            "tdeFixed": { "type": "number", "minimum": 0, "description": "Valor fixo de TDE (Taxa de Dificuldade de Entrega)." },
                            "tdePercentage": { "type": "number", "minimum": 0, "maximum": 100, "description": "Percentual de TDE (Taxa de Dificuldade de Entrega)." },
                            "cteFixed": { "type": "number", "minimum": 0, "description": "Valor fixo de emissão do CTe (Conhecimento de Transporte Eletrônico)." }
                          },
                          "required": ["zipCodeStart", "zipCodeEnd", "weightStart", "weightEnd", "shippingCostClient", "deliveryTimeMin", "deliveryTimeMax", "freightPercentage", "trtFixed", "tollFixed", "insuranceFixed", "insurancePercentage", "taxesFixed", "taxesPercentage", "grisPercentage", "tdeFixed", "tdePercentage", "cteFixed"]
                        },
                        {
                          "title": "Linha por raio (radius)",
                          "type": "object",
                          "properties": {
                            "_id": { "type": "string", "description": "Id da linha (informe apenas para atualizar)." },
                            "radius": { "type": "number", "minimum": 0, "description": "Raio de atendimento a partir do galpão (km)." },
                            "weightLimit": { "type": "number", "minimum": 0, "description": "Peso máximo aceito (kg)." },
                            "price": { "type": "number", "minimum": 0, "description": "Valor do frete." },
                            "deliveryTimeMax": { "type": "number", "minimum": 0, "description": "Prazo máximo de entrega." }
                          },
                          "required": ["radius", "weightLimit", "price", "deliveryTimeMax"]
                        },
                        {
                          "title": "Linha por polígono (polygon)",
                          "type": "object",
                          "properties": {
                            "_id": { "type": "string", "description": "Id da linha (informe apenas para atualizar)." },
                            "deliveryArea": {
                              "type": "array",
                              "minItems": 4,
                              "description": "Área de entrega como lista de coordenadas [longitude, latitude] (mínimo de 4 pontos).",
                              "items": { "type": "array", "minItems": 2, "maxItems": 2, "items": { "type": "number" } }
                            },
                            "price": { "type": "number", "minimum": 0, "description": "Valor do frete." },
                            "deliveryTimeMax": { "type": "number", "minimum": 0, "description": "Prazo máximo de entrega." }
                          },
                          "required": ["deliveryArea", "price", "deliveryTimeMax"]
                        }
                      ]
                    }
                  }
                },
                "required": ["worksheet"]
              },
              "examples": {
                "Faixa de CEP": {
                  "value": {
                    "worksheet": [
                      {
                        "zipCodeStart": 0,
                        "zipCodeEnd": 99999999,
                        "weightStart": 1,
                        "weightEnd": 999,
                        "shippingCostClient": 0,
                        "deliveryTimeMin": 1,
                        "deliveryTimeMax": 4,
                        "freightPercentage": 0,
                        "trtFixed": 0,
                        "tollFixed": 3,
                        "insuranceFixed": 5,
                        "insurancePercentage": 6,
                        "taxesFixed": 0.56,
                        "taxesPercentage": 27.5,
                        "grisPercentage": 2,
                        "tdeFixed": 0.14,
                        "tdePercentage": 4,
                        "cteFixed": 0.65
                      }
                    ]
                  }
                },
                "Polígono": {
                  "value": {
                    "worksheet": [
                      {
                        "price": 15,
                        "deliveryArea": [
                          [-45.41780015814045, -23.630628781943187],
                          [-45.42455992427094, -23.62859551964472],
                          [-45.42974489837618, -23.636878975244997],
                          [-45.41780015814045, -23.630628781943187]
                        ],
                        "deliveryTimeMax": 8
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resultado do upsert em lote.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requested": { "type": "number", "description": "Quantidade de linhas recebidas." },
                    "inserted": { "type": "number", "description": "Quantidade de linhas inseridas (inclui upserts)." },
                    "updated": { "type": "number", "description": "Quantidade de linhas atualizadas." },
                    "errors": {
                      "type": "object",
                      "description": "Erros por linha, quando houver.",
                      "properties": {
                        "total": { "type": "number", "description": "Total de linhas com erro." },
                        "list": { "type": "array", "items": { "type": "string" }, "description": "Mensagens de erro." }
                      }
                    }
                  }
                },
                "examples": {
                  "OK": { "value": { "requested": 1, "inserted": 1, "updated": 0 } }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Tabela de frete"],
        "summary": "Listar linhas da tabela",
        "operationId": "get-worksheet-v2-worksheetRef-tables",
        "x-mint": { "href": "/api-reference/tabela-de-frete/listar-linhas" },
        "description": "Lista as linhas (tables) de uma worksheet, de forma paginada, com filtros por CEP, peso ou raio.",
        "parameters": [
          { "name": "worksheetRef", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Id da worksheet." },
          { "name": "page", "in": "query", "schema": { "type": "number" }, "description": "Página (começa em 1)." },
          { "name": "limit", "in": "query", "schema": { "type": "number" }, "description": "Itens por página." },
          { "name": "_id", "in": "query", "schema": { "type": "string" }, "description": "Filtra por id da linha." },
          { "name": "zip_has", "in": "query", "schema": { "type": "number" }, "description": "Linhas cuja faixa de CEP contém este CEP." },
          { "name": "zip_between", "in": "query", "schema": { "type": "string" }, "description": "Linhas dentro de uma faixa de CEP (início e fim)." },
          { "name": "weight_has", "in": "query", "schema": { "type": "number" }, "description": "Linhas cuja faixa de peso contém este peso." },
          { "name": "weight_between", "in": "query", "schema": { "type": "string" }, "description": "Linhas dentro de uma faixa de peso." },
          { "name": "radius_between", "in": "query", "schema": { "type": "string" }, "description": "Linhas dentro de uma faixa de raio." }
        ],
        "responses": {
          "200": {
            "description": "Lista de linhas da tabela.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "docs": { "type": "array", "description": "Linhas da página.", "items": { "type": "object" } },
                    "total": { "type": "number", "description": "Total de linhas." },
                    "limit": { "type": "number", "description": "Itens por página." },
                    "page": { "type": "number", "description": "Página atual." },
                    "pages": { "type": "number", "description": "Total de páginas." }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Tabela de frete"],
        "summary": "Deletar linhas da tabela",
        "operationId": "delete-worksheet-v2-worksheetRef-tables",
        "x-mint": { "href": "/api-reference/tabela-de-frete/deletar-linhas" },
        "description": "Remove linhas de uma worksheet. Informe `tableId` para remover uma linha específica; omita para remover todas as linhas da worksheet.",
        "parameters": [
          { "name": "worksheetRef", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Id da worksheet." },
          { "name": "tableId", "in": "query", "schema": { "type": "string" }, "description": "Id de uma linha específica a remover (opcional)." }
        ],
        "responses": {
          "200": { "description": "Linhas removidas." }
        }
      }
    },
    "/store/seller/warehouse": {
      "post": {
        "tags": [
          "Warehouse"
        ],
        "summary": "Criar Warehouse",
        "description": "## Descrição\n\nEndpoint para a criação de um Warehouse.",
        "operationId": "post-store-seller-warehouse",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nome do warehouse (centro de distribuição)."
                  },
                  "sourceZipcode": {
                    "type": "string",
                    "description": "CEP de origem do warehouse — de onde as mercadorias saem."
                  },
                  "crossdockingTime": {
                    "type": "number",
                    "description": "Tempo estimado (em dias) para transferir produtos para outro warehouse."
                  },
                  "preferentialWarehouse": {
                    "type": "boolean",
                    "description": "Define se este é o warehouse padrão/preferencial do vendedor."
                  }
                },
                "required": [
                  "name",
                  "sourceZipcode",
                  "crossdockingTime"
                ],
                "x-examples": {
                  "Example 1": {
                    "name": "Warehouse Zona Sul",
                    "sourceZipcode": "11123-569",
                    "crossdockingTime": "0bd",
                    "preferentialWarehouse": true
                  }
                }
              },
              "examples": {
                "Body": {
                  "value": {
                    "name": "Warehouse Zona Sul",
                    "sourceZipcode": "11123-569",
                    "crossdockingTime": 0,
                    "preferentialWarehouse": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Name of warehouse"
                    },
                    "sourceZipcode": {
                      "type": "string",
                      "description": "Zipcode of warehouse location"
                    },
                    "crossdockingTime": {
                      "type": "number",
                      "description": "Estimated value of time to transfer products for another warehouse"
                    },
                    "_id": {
                      "type": "string",
                      "description": "Warehouse identifier"
                    }
                  },
                  "required": [
                    "name",
                    "sourceZipcode",
                    "crossdockingTime",
                    "_id"
                  ],
                  "x-examples": {
                    "Example 1": {
                      "name": "Warehouse 4",
                      "sourceZipcode": "82530-290",
                      "crossdockingTime": "0bd",
                      "_id": "jQGNY3p8mm"
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "name": "Warehouse 4",
                      "sourceZipcode": "82530-290",
                      "crossdockingTime": 0,
                      "_id": "jQGNY3p8mm"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "ValidationError",
                      "message": "Couldn't create a warehouse."
                    }
                  }
                },
                "examples": {
                  "Return if warehouse aren't created on seller": {
                    "value": {
                      "exceptionType": "ValidationError",
                      "message": "Couldn't create a warehouse."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "ForbiddenError",
                      "message": "You have not permission for this operation (shopping/seller/update)"
                    }
                  }
                },
                "examples": {
                  "Request Authorization without permission": {
                    "value": {
                      "exceptionType": "ForbiddenError",
                      "message": "You have not permission for this operation (shopping/seller/update)"
                    }
                  },
                  "Request Authorization without context": {
                    "value": {
                      "exceptionType": "ForbiddenError",
                      "message": "Contexts sellerId are required for this operation"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "FatalError",
                      "message": "Error occurred when tried to connect on database and create a seller warehouse."
                    }
                  }
                },
                "examples": {
                  "Return if any problem occur on connection during create warehouse (this error isn't influenced by input)": {
                    "value": {
                      "exceptionType": "FatalError",
                      "message": "Error occurred when tried to connect on database and create a seller warehouse."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "servers": [
          {
            "url": "https://api.main.mkplace.com",
            "description": "Sandbox"
          }
        ]
      },
      "get": {
        "tags": [
          "Warehouse"
        ],
        "summary": "Listar Warehouses",
        "description": "## Descrição\n\nEndpoint para listar todas as warehouses cadastradas previamente.",
        "operationId": "get-store-seller-warehouse",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name of warehouse"
                      },
                      "sourceZipcode": {
                        "type": "string",
                        "description": "Zipcode of warehouse location"
                      },
                      "crossdockingTime": {
                        "type": "number",
                        "description": "Estimated value of time to transfer products for another warehouse"
                      },
                      "_id": {
                        "type": "string",
                        "description": "Warehouse identifier"
                      }
                    },
                    "required": [
                      "name",
                      "sourceZipcode",
                      "crossdockingTime",
                      "_id"
                    ]
                  },
                  "x-examples": {
                    "Example 1": [
                      {
                        "name": "Default Warehouse",
                        "sourceZipcode": "66555777",
                        "crossdockingTime": "0bd",
                        "_id": "jQGNY3p8mm"
                      }
                    ]
                  }
                },
                "examples": {
                  "Response": {
                    "value": [
                      {
                        "name": "Default Warehouse",
                        "sourceZipcode": "66555777",
                        "crossdockingTime": 0,
                        "_id": "jQGNY3p8mm"
                      }
                    ]
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "ForbiddenError",
                      "message": "You have not permission for this operation (shopping/seller/update)"
                    }
                  }
                },
                "examples": {
                  "Request Authorization without permission": {
                    "value": {
                      "exceptionType": "ForbiddenError",
                      "message": "You have not permission for this operation (shopping/seller/update)"
                    }
                  },
                  "Request Authorization without context": {
                    "value": {
                      "exceptionType": "ForbiddenError",
                      "message": "Contexts sellerId are required for this operation"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "FatalError",
                      "message": "Error occurred when tried to connect on database and find a seller."
                    }
                  }
                },
                "examples": {
                  "Return if any problem occur on connection during get warehouse (this error isn't influenced by input)": {
                    "value": {
                      "exceptionType": "FatalError",
                      "message": "Error occurred when tried to connect on database and find a seller."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "servers": [
          {
            "url": "https://api.main.mkplace.com",
            "description": "Sandbox"
          }
        ]
      }
    },
    "/store/seller/warehouse/{warehouseId}": {
      "put": {
        "tags": [
          "Warehouse"
        ],
        "summary": "Atualizar Warehouse",
        "description": "## Descrição\n\nEndpoint para atualizar uma Warehouse previamente criada.\n\nTodos os campos da Warehouse podem ser alterados, também podem ser feitos apenas em campos específicos, ou seja, é possivel passar no corpo da requisição apenas o `name` caso esse seja apenas o alvo da atualização, como também pode ser passado todos os atributos, apenas o `_id` não pode ser atualizado. ",
        "operationId": "put-store-seller-warehouse-warehouseId",
        "parameters": [
          {
            "name": "warehouseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Identifier of the warehouse."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Nome do warehouse (centro de distribuição)."
                  },
                  "sourceZipcode": {
                    "type": "string",
                    "description": "CEP de origem do warehouse — de onde as mercadorias saem."
                  },
                  "crossdockingTime": {
                    "type": "number",
                    "description": "Tempo estimado (em dias) para transferir produtos para outro warehouse."
                  },
                  "preferentialWarehouse": {
                    "type": "boolean",
                    "description": "Define se este é o warehouse padrão/preferencial do vendedor."
                  }
                },
                "required": [
                  "name",
                  "sourceZipcode",
                  "crossdockingTime"
                ],
                "x-examples": {
                  "Example 1": {
                    "name": "Warehouse Zona Sul",
                    "sourceZipcode": "11123-569",
                    "crossdockingTime": 0,
                    "preferentialWarehouse": true
                  }
                }
              },
              "examples": {
                "Body": {
                  "value": {
                    "name": "Warehouse Zona Sul 2",
                    "sourceZipcode": "11123-569",
                    "crossdockingTime": 0,
                    "preferentialWarehouse": true
                  }
                },
                "Atualização parcial": {
                  "value": {
                    "name": "Novo nome",
                    "crossdockingTime": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Name of warehouse"
                    },
                    "sourceZipcode": {
                      "type": "string",
                      "description": "Zipcode of warehouse location"
                    },
                    "crossdockingTime": {
                      "type": "integer",
                      "description": "Estimated value of time to transfer products for another warehouse"
                    },
                    "preferentialWarehouse": {
                      "type": "boolean",
                      "description": "Whether this is the preferential warehouse"
                    }
                  },
                  "required": [
                    "name",
                    "sourceZipcode",
                    "crossdockingTime",
                    "preferentialWarehouse"
                  ],
                  "x-examples": {
                    "Example 1": {
                      "name": "Warehouse Zona Sul",
                      "sourceZipcode": "11123-569",
                      "crossdockingTime": 0,
                      "preferentialWarehouse": true
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "name": "Warehouse Zona Sul 2",
                      "sourceZipcode": "11123-569",
                      "crossdockingTime": 0,
                      "preferentialWarehouse": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "ValidationError",
                      "message": "WarehouseId is required for this operation."
                    }
                  }
                },
                "examples": {
                  "Return if warehouseId isn't sent": {
                    "value": {
                      "exceptionType": "ValidationError",
                      "message": "WarehouseId is required for this operation."
                    }
                  },
                  "Return if all changeable fields are sent empty": {
                    "value": {
                      "exceptionType": "ValidationError",
                      "message": "Send at least one parameter to be updated."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "ForbiddenError",
                      "message": "You have not permission for this operation (shopping/seller/update)"
                    }
                  }
                },
                "examples": {
                  "Request Authorization without permission": {
                    "value": {
                      "exceptionType": "ForbiddenError",
                      "message": "You have not permission for this operation (shopping/seller/update)"
                    }
                  },
                  "Request Authorization without context": {
                    "value": {
                      "exceptionType": "ForbiddenError",
                      "message": "Contexts sellerId are required for this operation"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "NotFoundError",
                      "message": "Couldn't find a warehouse with requested warehouseId wrongSellerId."
                    }
                  }
                },
                "examples": {
                  "Error if an incorrect or a warehouse that doesn't belong to seller are sent": {
                    "value": {
                      "exceptionType": "NotFoundError",
                      "message": "Couldn't find a warehouse with requested warehouseId wrong SellerId."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "FatalError",
                      "message": "Error occurred when tried to connect on database and find a seller."
                    }
                  }
                },
                "examples": {
                  "Return if any problem occur on connection during get seller warehouse (this error isn't influenced by input)": {
                    "value": {
                      "exceptionType": "FatalError",
                      "message": "Error occurred when tried to connect on database and find a seller."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "servers": [
          {
            "url": "https://api.main.mkplace.com",
            "description": "Sandbox"
          }
        ]
      },
      "delete": {
        "tags": [
          "Warehouse"
        ],
        "summary": "Deletar Warehouse",
        "description": "## Descrição\n\nEndpoint criado para deletar uma Warehouse.\n\n## Regras\n- Para deletar uma Warehouse, esta não deve ser a preferencial, se for, procuraremos por outra ja cadastrada pelo seller. \n- Tentar deletar uma Warehouse que ainda possua ofertas com estoque apontadas para este Warehouse, a remoção irá falhar, não devem existir ofertas para a Warehouse a ser removida.\n\nObs.: Para evitar problemas, entre em contato com o suporte@mkplace.com.br em caso de dúvidas.\n\n## Resposta\n\nA resposta deste endpoint são todos os Warehouses remanescentes.",
        "operationId": "delete-store-seller-warehouse-warehouseId",
        "parameters": [
          {
            "name": "warehouseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Identifier of the warehouse."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name of warehouse"
                      },
                      "sourceZipcode": {
                        "type": "string",
                        "description": "Zipcode of warehouse location"
                      },
                      "crossdockingTime": {
                        "type": "string",
                        "description": "Estimated value of time to transfer products for another warehouse"
                      },
                      "active": {
                        "type": "boolean",
                        "description": "Whether the warehouse is active"
                      },
                      "remote": {
                        "type": "boolean",
                        "description": "Whether the warehouse is remote"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "Last update timestamp."
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "Creation timestamp."
                      },
                      "_id": {
                        "type": "string",
                        "description": "Warehouse identifier"
                      }
                    },
                    "required": [
                      "name",
                      "sourceZipcode",
                      "crossdockingTime",
                      "active",
                      "remote",
                      "updatedAt",
                      "createdAt",
                      "_id"
                    ]
                  },
                  "x-examples": {
                    "Example 1": [
                      {
                        "name": "Postman created",
                        "sourceZipcode": "11222333",
                        "crossdockingTime": "aaa",
                        "active": true,
                        "remote": false,
                        "updatedAt": {
                          "$date": "2022-04-11T19:24:59.833Z"
                        },
                        "createdAt": {
                          "$date": "2022-04-11T19:24:59.833Z"
                        },
                        "_id": "jQGNY3p8mm"
                      }
                    ]
                  }
                },
                "examples": {
                  "Response": {
                    "value": [
                      {
                        "name": "Postman created",
                        "sourceZipcode": "11222333",
                        "crossdockingTime": "aaa",
                        "active": true,
                        "remote": false,
                        "updatedAt": "2022-04-11T19:24:59.833Z",
                        "createdAt": "2022-04-11T19:24:59.833Z",
                        "_id": "jQGNY3p8mm"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "ValidationError",
                      "message": "WarehouseId is required for this operation."
                    }
                  }
                },
                "examples": {
                  "Return if warehouseId isn't sent": {
                    "value": {
                      "exceptionType": "ValidationError",
                      "message": "WarehouseId is required for this operation."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "NotFoundError",
                      "message": "Couldn't find a warehouse with requested warehouseId wrongWarehouseIdExample."
                    }
                  }
                },
                "examples": {
                  "Return if an incorrect or a warehouseId that belongs to another seller is sent": {
                    "value": {
                      "exceptionType": "NotFoundError",
                      "message": "Couldn't find a warehouse with requested warehouseId wrongWarehouseIdExample."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "FatalError",
                      "message": "Error occurred when tried to connect on database and delete a seller warehouse."
                    }
                  }
                },
                "examples": {
                  "Return if any problem occur on connection during delete seller warehouse (this error isn't influenced by input)": {
                    "value": {
                      "exceptionType": "FatalError",
                      "message": "Error occurred when tried to connect on database and delete a seller warehouse."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "servers": [
          {
            "url": "https://api.main.mkplace.com",
            "description": "Sandbox"
          }
        ]
      }
    },
    "/freight/provider/{providerSlug}": {
      "put": {
        "tags": [
          "Frete"
        ],
        "summary": "Criar ou atualizar um provedor de frete",
        "description": "## Descrição\n\nEndpoint para a criação ou atualização de um provedor de frete.\n\nEste mesmo endpoint serve para o cadastro de chaves para o acesso aos provedores já integrados (atualmente apenas Intelipost) e também para o cadastro de provedores próprios via API Restful. Veja os exemplos ao lado de como fazer cada um deles.\n\nEm caso de dúvidas, envie email para suporte@mkplace.com.br\n\n## Regras\n- Para o cadastro de provedores de plataformas ja integradas, segue algumas observações:\n  - Intelipost:\n    - O objeto `configuration` tem um atributo obrigatório chamado `quotingMode` ao qual deverá ser atribuido um dos seguintes valores: [\"DYNAMIC_BOX_ALL_ITEMS\", \"REGISTERED_BOXES\", \"DYNAMIC_BOX_SINGLE_ITEM\", \"DYNAMIC_BOX_BY_SKU\"];\n    - O objeto `credentials` deverá conter um atributo obrigatório chamado `apiKey` e neste campo deverá ser atribuido a chave negociada em contrato com a própria Intelipost.\n  \n- Para o cadastro de provedores provenientes de uma integração com API existente de um vendedor, segue algumas observações:\n  - O objeto `configuration` deverá ter o seguinte atributo chamado `endpoint` e neste campo deverá conter a url completa do serviço criado conforme as documentações anteriores, vide [Cotação de frete via API]();\n  - Caso o endpoint construido tenha algum tipo de autenticação necessária, disponibilizamos apenas o cabeçalho `Authorization`. Para que a requisição consiga ser feita utilizando um token para este cabeçalho, o campo `apiKey` dentro do objeto `credentials` deverá conter a chave com seu tipo, exemplo `Bearer e18e4fbf71b0cd77fd4937...` ou `Basic e18e4fbf71b0cd77fd4937...`, vide os exemplos da documentação à direta.\n",
        "operationId": "put-freight-provider-providerSlug",
        "parameters": [
          {
            "name": "providerSlug",
            "in": "path",
            "description": "Nome do vendedor ou do serviço de frete deste vendedor, sugerimos que seja o nome do vendedor, minúsculo e sem espaços",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "configuration": {
                    "type": "object",
                    "description": "Properties of provider. Contém a URL do endpoint de cotação do seller no campo `endpoint` e demais propriedades."
                  },
                  "credentials": {
                    "type": "object",
                    "description": "Provider check credentials. Headers de autenticação enviados ao endpoint de cotação."
                  },
                  "category": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Provider category"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of Provider"
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of provider",
                    "enum": [
                      "intelipost",
                      "default"
                    ]
                  }
                },
                "required": [
                  "configuration",
                  "credentials"
                ],
                "x-examples": {
                  "Example 1": {
                    "name": "teste",
                    "type": "default",
                    "configuration": {
                      "quotingMode": "DYNAMIC_BOX_ALL_ITEMS"
                    },
                    "priority": 0,
                    "credentials": {
                      "apiKey": "e18e4fbf71b0cd77fd493783825c07771dd8027b1d2ca1687071664721c4283d"
                    },
                    "category": null,
                    "version": 1
                  }
                }
              },
              "examples": {
                "Exemplo de provedor Intelipost": {
                  "value": {
                    "name": "Intelipost do vendedor",
                    "configuration": {
                      "quotingMode": "DYNAMIC_BOX_ALL_ITEMS"
                    },
                    "priority": 0,
                    "credentials": {
                      "apiKey": "e18e4fbf71b0cd77fd493783825c07771dd8027b1..."
                    },
                    "category": null
                  }
                },
                "Exemplo de provedor integrado pela própria API": {
                  "value": {
                    "name": "API do vendedor",
                    "configuration": {
                      "endpoint": "https://my-quotation-of-freight/api/vendedor..."
                    },
                    "priority": 0,
                    "credentials": {
                      "apiKey": "Bearer e18e4fbf71b0cd77fd493783825c07771dd8027b1..."
                    },
                    "category": null
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string",
                      "description": "Provider identifier"
                    },
                    "sellerId": {
                      "type": "string",
                      "description": "Seller identifier owning the provider"
                    },
                    "category": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Provider category"
                    },
                    "slug": {
                      "type": "string",
                      "description": "Provider slug"
                    },
                    "storeId": {
                      "type": "string"
                    },
                    "configuration": {
                      "type": "object",
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "quotingMode": {
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "properties": {
                            "endpoint": {
                              "type": "string"
                            }
                          }
                        }
                      ],
                      "description": "Properties of provider"
                    },
                    "credentials": {
                      "type": "object",
                      "properties": {
                        "apiKey": {
                          "type": "string"
                        }
                      },
                      "description": "Provider check credentials (mascaradas na resposta)."
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "Creation timestamp."
                    },
                    "updatedAt": {
                      "type": "string",
                      "description": "Last update timestamp."
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "_id": "providerId",
                      "sellerId": "sellerId",
                      "category": null,
                      "slug": "intelipost",
                      "storeId": "storeId",
                      "configuration": {
                        "quotingMode": "DYNAMIC_BOX_ALL_ITEMS"
                      },
                      "credentials": {
                        "apiKey": "xxx"
                      },
                      "createdAt": "2022-01-14T14:13:45.294Z",
                      "updatedAt": "2022-01-14T14:13:45.294Z"
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "_id": "providerId",
                      "sellerId": "sellerId",
                      "category": null,
                      "slug": "intelipost",
                      "storeId": "storeId",
                      "configuration": {
                        "quotingMode": "DYNAMIC_BOX_ALL_ITEMS"
                      },
                      "credentials": {
                        "apiKey": "xxx"
                      },
                      "createdAt": "2022-01-14T14:13:45.294Z",
                      "updatedAt": "2022-01-14T14:13:45.294Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "ValidationError",
                      "message": "Path parameter 'providerSlug' is required for this operation"
                    }
                  }
                },
                "examples": {
                  "Path parameter is missing": {
                    "value": {
                      "exceptionType": "ValidationError",
                      "message": "Path parameter 'providerSlug' is required for this operation"
                    }
                  },
                  "Return if providerSlug already exists": {
                    "value": {
                      "exceptionType": "Validation Error",
                      "message": "Provider already exists"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "ForbiddenError",
                      "message": "Contexts storeId are required for this operation"
                    }
                  }
                },
                "examples": {
                  "Request Authorization without permission": {
                    "value": {
                      "exceptionType": "ForbiddenError",
                      "message": "You have not permission for this operation (freight/provider/create)"
                    }
                  },
                  "Request Authorization without context": {
                    "value": {
                      "exceptionType": "ForbiddenError",
                      "message": "Contexts storeId are required for this operation"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "FatalError",
                      "message": "Error occurred when tried to connect on database to create or update a provider."
                    }
                  }
                },
                "examples": {
                  "Return if any error occur during connection (This error isn't influenced by user inputs)": {
                    "value": {
                      "exceptionType": "FatalError",
                      "message": "Error occurred when tried to connect on database to create or update a provider."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "servers": [
          {
            "url": "https://api.main.mkplace.com",
            "description": "Sandbox"
          }
        ]
      },
      "delete": {
        "tags": [
          "Frete"
        ],
        "summary": "Deletar provedor de frete",
        "description": "## Descrição\n\nEndpoint para a remoção de um provedor criado previamente.",
        "operationId": "delete-freight-provider-providerSlug",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "description": "Para deletar um provedor com mesmo `slug` porém em categoria diferente",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "providerSlug",
            "in": "path",
            "description": "Nome do vendedor ou do serviço de frete deste vendedor, sugerimos que seja o nome do vendedor, minúsculo e sem espaços",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {}
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "deleted": true
                    }
                  }
                },
                "examples": {
                  "Resposta positiva caso seja deletado": {
                    "value": {
                      "deleted": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "ValidationError",
                      "message": "Path parameter 'providerSlug' is required for this operation"
                    }
                  }
                },
                "examples": {
                  "Path parameter is missing": {
                    "value": {
                      "exceptionType": "ValidationError",
                      "message": "Path parameter 'providerSlug' is required for this operation"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "ForbiddenError",
                      "message": "You have not permission for this operation (freight/provider/read)"
                    }
                  }
                },
                "examples": {
                  "Request Authorization without permission": {
                    "value": {
                      "exceptionType": "ForbiddenError",
                      "message": "You have not permission for this operation (freight/provider/read)"
                    }
                  },
                  "Request Authorization without context": {
                    "value": {
                      "exceptionType": "ForbiddenError",
                      "message": "Contexts storeId are required for this operation"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "NotFoundError",
                      "message": "No Provider was found to the given providerSlug"
                    }
                  }
                },
                "examples": {
                  "There is no created provider to the given slug": {
                    "value": {
                      "exceptionType": "NotFoundError",
                      "message": "No Provider was found to the given providerSlug"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "servers": [
          {
            "url": "https://api.main.mkplace.com",
            "description": "Sandbox"
          }
        ]
      }
    },
    "/freight/provider": {
      "get": {
        "tags": [
          "Frete"
        ],
        "summary": "Listar Provedores de frete",
        "description": "## Descrição\n\nEndpoint para lista os provedores cadastrados para o vendedor requisitante.",
        "operationId": "get-freight-provider",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Pagina",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limitação de provedores por requisição",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "docs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string",
                            "description": "Provider identifier"
                          },
                          "sellerId": {
                            "type": "string",
                            "description": "Seller identifier owning the provider"
                          },
                          "category": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Provider category"
                          },
                          "slug": {
                            "type": "string",
                            "description": "Provider slug"
                          },
                          "storeId": {
                            "type": "string"
                          },
                          "configuration": {
                            "type": "object",
                            "oneOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "quotingMode": {
                                    "type": "string"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "endpoint": {
                                    "type": "string"
                                  }
                                }
                              }
                            ],
                            "description": "Properties of provider"
                          },
                          "credentials": {
                            "type": "object",
                            "properties": {
                              "apiKey": {
                                "type": "string"
                              }
                            },
                            "description": "Provider check credentials (mascaradas na resposta)."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "Last update timestamp."
                          }
                        }
                      },
                      "description": "List of returned documents."
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of documents."
                    },
                    "limit": {
                      "type": "integer",
                      "description": "Maximum number of documents per page."
                    },
                    "page": {
                      "type": "integer",
                      "description": "Current page number."
                    },
                    "pages": {
                      "type": "integer",
                      "description": "Total number of pages."
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "docs": [
                        {
                          "_id": "providerId",
                          "sellerId": null,
                          "category": null,
                          "slug": "intelipost",
                          "storeId": "storeId",
                          "configuration": {
                            "quotingMode": "DYNAMIC_BOX_ALL_ITEMS"
                          },
                          "credentials": {
                            "apiKey": "xxxxxxxxx"
                          },
                          "createdAt": "2022-01-13T14:19:56.606Z",
                          "updatedAt": "2022-01-13T14:19:56.606Z"
                        },
                        {
                          "_id": "providerId",
                          "sellerId": "sellerId",
                          "category": null,
                          "slug": "intelipost",
                          "storeId": "storeId",
                          "configuration": {
                            "quotingMode": "DYNAMIC_BOX_ALL_ITEMS"
                          },
                          "credentials": {
                            "apiKey": "xxxxxxxxx"
                          },
                          "createdAt": "2022-01-14T14:13:45.294Z",
                          "updatedAt": "2022-01-14T14:13:45.294Z"
                        }
                      ],
                      "total": 2,
                      "limit": 50,
                      "page": 1,
                      "pages": 1
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "docs": [
                        {
                          "_id": "providerId",
                          "sellerId": "sellerId",
                          "category": null,
                          "slug": "intelipost",
                          "storeId": "storeId",
                          "configuration": {
                            "quotingMode": "DYNAMIC_BOX_ALL_ITEMS"
                          },
                          "credentials": {
                            "apiKey": "xxxxxxxxx"
                          },
                          "createdAt": "2022-01-14T14:13:45.294Z",
                          "updatedAt": "2022-01-14T14:13:45.294Z"
                        }
                      ],
                      "total": 1,
                      "limit": 50,
                      "page": 1,
                      "pages": 1
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "ForbiddenError",
                      "message": "You have not permission for this operation (freight/provider/read)"
                    }
                  }
                },
                "examples": {
                  "Request Authorization without permission": {
                    "value": {
                      "exceptionType": "ForbiddenError",
                      "message": "You have not permission for this operation (freight/provider/read)"
                    }
                  },
                  "Request Authorization without context": {
                    "value": {
                      "exceptionType": "ForbiddenError",
                      "message": "Contexts storeId are required for this operation"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "FatalError",
                      "message": "Error occurred when tried to connect on database or find providers."
                    }
                  }
                },
                "examples": {
                  "Error if anything occur during connection (This error isn't influenced by user input)": {
                    "value": {
                      "exceptionType": "FatalError",
                      "message": "Error occurred when tried to connect on database or find providers."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "servers": [
          {
            "url": "https://api.main.mkplace.com",
            "description": "Sandbox"
          }
        ]
      }
    },
    "/sales/webhook": {
      "get": {
        "tags": [
          "Webhook-Sales"
        ],
        "summary": "Listar Webhooks",
        "description": "## Descrição\n\nEndpoint para listar os Webhooks existentes",
        "operationId": "get-sales-webhook",
        "parameters": [
          {
            "name": "endpoint",
            "in": "query",
            "description": "Webhook Endpoint",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statusFilter",
            "in": "query",
            "description": "Status Filter belonging to this Webhook. It is possible to send multiple statusFilter values",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page that will be listed",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Quantity of Webhooks which will be loaded per page",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "docs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string",
                            "description": "Webhook identifier"
                          },
                          "storeId": {
                            "type": "string"
                          },
                          "sellerId": {
                            "type": "string"
                          },
                          "endpoint": {
                            "type": "string",
                            "description": "A route for the webhook."
                          },
                          "statusFilter": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Order status filters."
                          },
                          "requestConfiguration": {
                            "type": "object",
                            "properties": {
                              "headers": {
                                "type": "object",
                                "properties": {
                                  "Content-Type": {
                                    "type": "string"
                                  },
                                  "Authorization": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "description": "Header and other possibly required parameters to be sent to the endpoint."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "Creation timestamp."
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "Last update timestamp."
                          },
                          "__v": {
                            "type": "integer",
                            "description": "Document version key."
                          }
                        }
                      },
                      "description": "List of returned documents."
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of documents."
                    },
                    "limit": {
                      "type": "integer",
                      "description": "Maximum number of documents per page."
                    },
                    "page": {
                      "type": "string",
                      "description": "Current page number."
                    },
                    "pages": {
                      "type": "integer",
                      "description": "Total number of pages."
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "docs": [
                        {
                          "_id": "webhookId",
                          "storeId": "string",
                          "sellerId": "string",
                          "endpoint": "https://seller_endpoint.com.br/notification/test",
                          "statusFilter": [
                            "BILLED"
                          ],
                          "requestConfiguration": {
                            "headers": {
                              "Content-Type": "application/json",
                              "Authorization": "Bearer eyJhbGciOiJIUzI..."
                            }
                          },
                          "createdAt": "2022-01-01T14:39:25.835Z",
                          "updatedAt": "2022-01-01T17:23:59.897Z",
                          "__v": 0
                        }
                      ],
                      "total": 1,
                      "limit": 50,
                      "page": "1",
                      "pages": 1
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "docs": [
                        {
                          "_id": "webhookId",
                          "storeId": "string",
                          "sellerId": "string",
                          "endpoint": "https://seller_endpoint.com.br/notification/test",
                          "statusFilter": [
                            "BILLED"
                          ],
                          "requestConfiguration": {
                            "headers": {
                              "Content-Type": "application/json",
                              "Authorization": "Bearer eyJhbGciOiJIUzI..."
                            }
                          },
                          "createdAt": "2022-01-01T14:39:25.835Z",
                          "updatedAt": "2022-01-01T17:23:59.897Z",
                          "__v": 0
                        }
                      ],
                      "total": 1,
                      "limit": 50,
                      "page": "1",
                      "pages": 1
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exceptionType": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "exceptionType": "ForbiddenError",
                      "message": "You have not permission for this operation (sales/webhook/create)"
                    }
                  }
                },
                "examples": {
                  "Request does not have context permission": {
                    "value": {
                      "exceptionType": "ForbiddenError",
                      "message": "You have not permission for this operation (sales/webhook/read)"
                    }
                  },
                  "Request without storeId or sellerId profile": {
                    "value": {
                      "exceptionType": "ForbiddenError",
                      "message": "Contexts storeId, sellerId are required for this operation"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ],
        "servers": [
          {
            "url": "https://api.main.mkplace.com",
            "description": "Sandbox"
          }
        ]
      },
      "post": {
        "tags": [
          "Webhook-Sales"
        ],
        "summary": "Criar Webhook",
        "description": "## Descrição\n\nEndpoint para criação de Webhook.",
        "operationId": "post-sales-webhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "endpoint": {
                    "type": "string",
                    "format": "uri",
                    "description": "A route for the webhook."
                  },
                  "statusFilter": {
                    "type": "array",
                    "description": "Order status filters.",
                    "minItems": 1,
                    "items": {
                      "type": "string",
                      "enum": [
                        "PRE-ORDER",
                        "EXPIRED",
                        "CANCELED",
                        "WAITING-PAYMENT",
                        "PAID",
                        "BILLED",
                        "SENT",
                        "DELIVERED",
                        "PARTIALLY-SENT",
                        "PARTIALLY-DELIVERED",
                        "PARTIALLY-BILLED",
                        "IN-PROCESSING",
                        "REFUNDED",
                        "REPLACED",
                        "RETURNED"
                      ]
                    }
                  },
                  "authType": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Defines the webhook authentication type.",
                    "enum": [
                      "keycloak",
                      "no-auth"
                    ]
                  },
                  "authEndpoint": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uri",
                    "description": "Endpoint used for request authentication."
                  },
                  "credentials": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "description": "Credentials used to authenticate request"
                  },
                  "requestConfiguration": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "description": "Header and other possibly required parameters to be sent to the endpoint.",
                    "properties": {
                      "headers": {
                        "type": "object",
                        "properties": {
                          "Authorization": {
                            "type": "string"
                          },
                          "Content-Type": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "channelSlug": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "The channel slug to which the webhook is related."
                  },
                  "orderType": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Order type filter",
                    "enum": [
                      "ORDER",
                      "LOYALTY",
                      "SUBSCRIPTION"
                    ]
                  }
                },
                "required": [
                  "endpoint",
                  "statusFilter"
                ],
                "x-examples": {
                  "Example 1": {
                    "endpoint": "http://example.com",
                    "statusFilter": [
                      "PRE-ORDER"
                    ],
                    "requestConfiguration": {
                      "headers": {
                        "Authorization": "Bearer c41fwc13-624d-365e-9622-ec3d1fdb814d",
                        "Content-Type": "application/json"
                      }
                    }
                  }
                }
              },
              "examples": {
                "Body": {
                  "value": {
                    "endpoint": "http://example.com",
                    "statusFilter": [
                      "PRE-ORDER"
                    ],
                    "requestConfiguration": {
                      "headers": {
                        "Authorization": "Bearer c41fwc13-624d-365e-9622-ec3d1fdb814d...",
                        "Content-Type": "application/json"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusFilter": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Order status filters."
                    },
                    "requestConfiguration": {
                      "type": "object",
                      "properties": {
                        "headers": {
                          "type": "object",
                          "properties": {
                            "Content-Type": {
                              "type": "string"
                            },
                            "Authorization": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "description": "Header and other possibly required parameters to be sent to the endpoint."
                    },
                    "endpoint": {
                      "type": "string",
                      "description": "A route for the webhook."
                    },
                    "storeId": {
                      "type": "string"
                    },
                    "sellerId": {
                      "type": "string"
                    },
                    "_id": {
                      "type": "string",
                      "description": "Webhook identifier"
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "Creation timestamp."
                    },
                    "updatedAt": {
                      "type": "string",
                      "description": "Last update timestamp."
                    },
                    "__v": {
                      "type": "integer",
                      "description": "Document version key."
                    }
                  },
                  "x-examples": {
                    "Example 1": {
                      "statusFilter": [
                        "SENT",
                        "CANCELED"
                      ],
                      "requestConfiguration": {
                        "headers": {
                          "Content-Type": "application/json"
                        }
                      },
                      "endpoint": "https://vengeful-star.name",
                      "storeId": "9qAcdOluBG",
                      "sellerId": "0RCMBSNbOl",
                      "_id": "uKP9_BKkDf",
                      "createdAt": "2022-04-18T17:58:12.023Z",
                      "updatedAt": "2022-04-18T17:58:12.023Z",
                      "__v": 0
                    }
                  }
                },
                "examples": {
                  "Response": {
                    "value": {
                      "statusFilter": [
                        "SENT",
                        "CANCELED"
                      ],
                      "requestConfiguration": {
                        "headers": {
                          "Content-Type": "application/json"
                        }
                      },
                      "endpoint": "https://vengeful-star.name",
                      "storeId": "9qAcdOluBG",
[...]
